<div class="container">
	<div class="row">
	
		<div class="col-lg-6 col-md-6">
			<!-- Contact Info-->
			<section class="widget widget-light-skin">
			
				<h3 class="widget-title">Get In Touch With Us</h3>
				
				<a href="http://europa.eu" target="_blank">
					<img src="https://static.wixstatic.com/media/087e60_139eff4ec8f148558c516202d8e7ac5e~mv2_d_2163_1454_s_2.png/v1/fill/w_51,h_33,al_c,q_80,usm_0.66_1.00_0.01/087e60_139eff4ec8f148558c516202d8e7ac5e~mv2_d_2163_1454_s_2.webp" class="float-left">
				</a>
				<a href="http://europa.eu" target="_blank">
					<p class="text-white">Цей проект фінансується Європейським Союзом</p>
				</a>
				
				<a href="https://www.idf.solutions" target="_blank">
					<img src="https://static.wixstatic.com/media/087e60_0e5da1721f014efaae04000bcfeeae37~mv2_d_2126_2126_s_2.jpg/v1/fill/w_49,h_46,al_c,q_80,usm_0.66_1.00_0.01/087e60_0e5da1721f014efaae04000bcfeeae37~mv2_d_2126_2126_s_2.webp" class="float-left">
				</a>
				<a href="https://www.idf.solutions" target="_blank">
					<p class="text-white">Цей проект реалізовується Innovation and Development Foundation</p>
				</a>
				
				<!--<p><a class="navi-link-light" href="#">support@unishop.com</a></p><a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a>-->
			</section>
		</div>

		<div class="col-lg-6 col-md-6">
			<!-- About Us-->
			<section class="widget widget-links widget-light-skin">
				<h3 class="widget-title">About Us</h3>
				<ul>
					<li><a routerLink="faq">Про Нас</a></li>
					<li><a href="https://drive.google.com/open?id=1ToCHshbRPoWTQsQRghnPAfkfdjkqPwU7" target="_blank">Умови користування</a></li>
					<li><a routerLink="faq">FAQ</a></li>
					<li><a routerLink="faq">Як рослідувати?</a></li>
				</ul>
			</section>
		</div>
	</div>
	
	<!-- Copyright-->
	<p class="footer-copyright">Інформація, висвітлена на цьому сайті, може не збігатися з поглядами Європейського Союзу.</p>
</div>