<!-- Toolbar-->
<div class="toolbar">
	<div class="inner">
	  <div class="tools">
	    <div class="search"><i class="icon-search"></i></div>
	    <div class="account">
	    
	    	<a href="#"></a><i class="icon-head"></i>
	    	
	      <ul class="toolbar-dropdown">
	      
	        <li class="sub-menu-user">
	          <div class="user-ava"><img src="assets/img/account/Roman_Yakovlev.webp" alt="Роман Яковлєв">
	          </div>
	          <div class="user-info">
	            <h6 class="user-name">Роман Яковлєв</h6><span class="text-xs text-muted">8 рослідувань</span>
	          </div>
	        </li>
	        
	        <li><a href="#">Мій профіль</a></li>
	        <li><a href="#">Рослідування</a></li>
	        <li class="sub-menu-separator"></li>
	        <li><a href="#"> <i class="icon-unlock"></i>Вихід</a></li>
	        
	      </ul>
	    </div>
	  </div>
	</div>
</div>