<div class="toolbar">
	<div class="inner">
		<div class="tools">
		
			<!--<div class="search">
				<a (click) = "onSearch()"></a><i class="icon-search"></i>
			</div>-->
			
			<div class="account">
			
				<a *ngIf="loggedIn" routerLink="user"></a>
				<a *ngIf="!loggedIn" routerLink="login"></a>
				<i class="icon-head"></i>
				
				<ng-template [ngIf]="loggedIn">
					<ul class="toolbar-dropdown">
					
						<li class="sub-menu-user">
							<div class="user-ava">
								<img src="{{ photoUrl }}" alt="{{ userName }}">
							</div>
							<div class="user-info">
								<h6 class="user-name">{{ (user)?.name }}</h6>
								<span class="text-xs text-muted"></span>
							</div>
						</li>
					
						<li><a routerLink="user">Мій профіль</a></li>
						<li><a routerLink="user">Публікації</a></li>
						<li><a routerLink="user">Коментарі</a></li>
						<li class="sub-menu-separator"></li>
						<li><a (click) = "signOut()"><i class="icon-unlock"></i>Вихід</a></li>
					</ul>
				</ng-template>
				
			</div>
			
			<div class="cart">
				<a *ngIf="loggedIn" routerLink="long-grid-add"></a>
				<i class="icon-plus"></i> Крауд
				<a *ngIf="!loggedIn" routerLink="login"></a>
				
			</div>
		
		</div>
	</div>
</div>