<div class="container padding-bottom-3x padding-top-3x mb-2">
    <div class="row">
 
        <!-- Results-->
        <div class="col-xl-9 col-lg-8 order-lg-2">
            <h6 class="text-muted text-normal text-uppercase">Вітаємо!</h6>
            <hr class="margin-bottom-1x">

            <h1>Вітаємо на платформі WikiInvestigation!</h1>
            
            <p class="text-lg">
            Ця платформа, як і всі права на неї, належить Некомерційній (неприбутковій) організації <strong>“Фонд Інновацій та Розвитку”</strong> (англ. Innovation and Development Foundation) (далі - IDF). Платформа розроблена в рамках реалізації Проекту “Підтримка запобігання корупції та проведення розслідувань шляхом залучення громадськості на місцевому рівні”.
            </p>
            <p class="text-lg">
            Платформа створена для попередження, виявлення та розслідування корупційних правопорушень, але не тільки. Можливості платформи дозволяють провести розслідування будь-якого злочину.
	Ми віримо, що сила людей в їх згуртованості, а сила розуму великої кількості людей переважає можливості повноважень правоохоронних органів. Тому платформа - це інструмент для тих, кому набридли нерозкриті корупційні злочини, хто знає, але боїться повідомити про корупцію, хто хоче розслідувати злочини, хоче поділитися інформацією чи володіє певними знаннями і готовий допомогти. 
	Вся інформація (окрім ваших персональних даних, внесених при реєстрації на платформі) залишається в системі Blockchain WikiInvestigation доти, доки існує ця система. Технологія Blockchain, за принципом якої створена платформа, дозволяє зберігати інформацію у вигляді архівних даних без ризику її знищення чи пошкодження сторонніми впливами.
Можливості платформи дозволять вам бути детективом, інформатором, консультантом в окремій галузі або просто спостерігачем.
Стати детективом може будь-хто. Варто тільки  розпочати розслідування. Розроблена методологія (посилання) допоможе йти у правильному напрямку, а Умови користування платформою WikiInvestigation (посилання) дозволять правильно використовувати опції платформи.
Збираючи власну команду для розслідування і долучаючи необмежену кількість людей для допомоги, ви значно підвищуєте ймовірність розкрити злочин. Опубліковані на платформі розслідування, які відповідають грантовим вимогам, дають можливість детективу отримати грошову винагороду. Можливості платформи дозволяють також поділитися винагородою з іншими людьми, що надавали допомогу в розслідуванні. 
Ми поважаємо права та свободи інших осіб. Тому в разі розміщення на платформі WikiInvestigation контенту, який порушує права інших людей, містить заклики до насилля, расової чи іншої дискримінації, порушення прав неповнолітніх і т.д., доступ до такого контенту всіх користувачів Платформи буде закритий. Однак така інформація може бути доступною з інших ресурсів, які використовують програмне забезпечення для підтримання мережі Blockchain.
Всі учасники платформи відповідно до норм чинного законодавства України, самостійно несуть відповідальність (моральну, цивільну чи кримінальну) за порушення прав та законних інтересів третіх осіб у зв’язку із розміщеною ними на Платформі інформацією.
Всі об’єкти, розміщені на Платформі, в тому числі елементи дизайну, текст, графічні зображення, ілюстрації, відео, скрипти, програми, аудіо, інші об’єкти та їх комбінація, є об’єктами виключних прав IDF, Учасників та інших правоволодільців.  Всі права на ці об’єкти захищені.
Платформа містить (або може містити) посилання на інші сайти у мережі Інтернет (сайти третіх осіб). Посилання на будь-який сайт, продукт, послугу, інформацію, розміщене на Платформі, не є рекомендацією даних продуктів (послуг, інформації).
Ми не несемо відповідальності за повноту, точність і актуальність інформації, представленої на цій платформі. Те ж стосується і посилань, як інформації прямо або опосередковано наведених на даній платформі. Не дивлячись на перевірку матеріалів, ми не беремо на себе будь-які зобов'язання або відповідальність за зміст посилань на зовнішні джерела.
 Ми не несемо відповідальності за будь-які дії чи бездіяльність Учасників платформи, розміщення ними шкідливого контенту чи здійснення інших неправомірних дій. Проте ми вживатимемо всіх можливих заходів для забезпечення якісного та безпечного  функціонування платформи.
            </p>         
            <p class="text-lg">
                Продовжуючи користуватись Платформою Ви погоджуєтесь з Умовами користування. 
            </p>
        </div>

        <!-- Sidebar-->
        <div class="col-xl-3 col-lg-4 order-lg-1">
            <app-sidebar></app-sidebar>
        </div>
        
    </div>
</div>
