<div class="container padding-bottom-3x padding-top-3x mb-2">
    <div class="row">

        <!-- Content-->
        <div class="col-xl-12 col-lg-12 order-lg-1">
            
            <h6 class="text-muted text-normal text-uppercase margin-top-1x">Редагування: </h6>
            <hr class="margin-bottom-1x">
            
            <div class="form-group row">
                <label class="col-2 col-form-label" for="article-title">Заголовок</label>
                <div class="col-10">
                    <input class="form-control" type="text" id="article-title" value="Заголовок лонг-гріду">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-2 col-form-label" for="article-text">Лонг-грід</label>
                <div class="col-10">

                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-2 col-form-label" for="article-tags">Теги</label>
                <div class="col-10">
                    <input class="form-control" type="text" id="article-tags" value="ЛонгГрід, Запис">
                </div>
            </div>

            <div class="text-center text-sm-center">
                <button class="btn btn-primary margin-bottom-none" type="submit">Зберегти</button>
            </div> 

        </div>
    </div>
</div>