<!-- Search-->
<form class="site-search" method="get" [ngClass] = "{'search-visible': isSearchActive}">
	<input type="text" name="site_search" placeholder="Type to search...">
	<div class="search-tools">
			<span class="clear-search">Clear</span>
			<span class="close-search"><i class="icon-cross"></i></span>
	</div>
</form>

<div class="site-branding">
	<div class="inner">
	
		<!-- Off-Canvas Toggle (#shop-categories)-->
		<!--<a class="offcanvas-toggle cats-toggle" data-toggle="offcanvas" (click)="toggleCategories()"></a>-->
		
		<!-- Off-Canvas Toggle (#mobile-menu)-->
		<!--<a class="offcanvas-toggle menu-toggle" data-toggle="offcanvas" (click)="toggleMenu()"></a>-->
		
		<!-- Site Logo-->
		<a class="site-logo" routerLink=""><img src="assets/img/logo/logo_wik.svg" alt="WIKI-Investigation"></a>
	</div>
</div>

<!-- Main Navigation-->
<!--<nav class="site-menu">
	<ul>
		<li>
			<a href="#trending"><span>Популярне</span></a>
		</li>
		<li class="active">
			<a href="#created"><span>Нове</span></a>
		</li>
		<li>
			<a href="#hot"><span>Актуальне</span></a>
		</li>
	</ul>
</nav>-->
