<header class="kotha-menu marketing-menu left-logo">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
		  <h1><a class="navbar-brand" href="/"><img src="assets/images/logo-marketing.png" alt="kothPro"></a></h1>
		  
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  
		  <div class="collapse navbar-collapse" id="navbarNav">
		  
		    <ul class="navbar-nav text-uppercase">
		      <li class="nav-item" routerLinkActive="active">
		        <a class="nav-link" routerLink="">Home</a>
		      </li>
		      <li class="nav-item" routerLinkActive="active">
		        <a class="nav-link" routerLink="login">Sign In</a>
		      </li>
		    </ul>
		    
			<!--<ul class="navbar-nav top-social-icons pull-right">
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li class="top-search">
					<a href="#" class="sactive">
						<i class="fa fa-search"></i>
					</a>
				</li>
			</ul>-->

		    <div class="show-search">
				<form role="search" method="get" id="searchform" action="#">
					<input class="form-control mr-sm-2" type="text" placeholder="Search and hit enter..." aria-label="Search" name="s" id="s">
				</form>
			</div>

		  </div>
		</div>
	</nav>
</header>


<router-outlet></router-outlet>