<button class="sidebar-toggle position-left" data-toggle="modal" data-target="#modalBlogSidebar"><i class="icon-layout"></i></button>

<aside class="sidebar sidebar-offcanvas">
	
	<section class="widget widget-categories">
		<h3 class="widget-title">Сфера рослідування</h3>
		<ul>
			<li><a href="#">Екологія та природні реурси</a><span>(0)</span></li>
			<li><a href="#">Соціальна сфера</a><span>(0)</span></li>
			<li><a href="#">Кримінальна юстиція</a><span>(0)</span></li>
			<li><a href="#">Охорона здоров'я</a><span>(1)</span></li>
			<li><a href="#">Освіта</a><span>(0)</span></li>
			<li><a href="#">Інше</a><span>(0)</span></li>
		</ul>
	</section>
		
		<!-- Widget Featured Posts-->
		<!--<section class="widget widget-featured-posts">
			<h3 class="widget-title">Featured Posts</h3>

			<div class="entry">
				<div class="entry-thumb"><a href="blog-single-rs.html"><img src="assets/img/blog/widget/01.jpg" alt="Post"></a></div>
				<div class="entry-content">
					<h4 class="entry-title"><a href="blog-single-rs.html">Trending Winter Boots</a></h4><span class="entry-meta">by Olivia Reyes</span>
				</div>
			</div>

			<div class="entry">
				<div class="entry-content">
					<h4 class="entry-title"><a href="blog-single-rs.html">Global Travel And Vacations Luxury Travel On A Tight Budget</a></h4><span class="entry-meta">by Logan Coleman</span>
				</div>
			</div>

			<div class="entry">
				<div class="entry-thumb"><a href="blog-single-rs.html"><img src="assets/img/blog/widget/02.jpg" alt="Post"></a></div>
				<div class="entry-content">
					<h4 class="entry-title"><a href="blog-single-rs.html">Hoop Earrings A Style From History</a></h4><span class="entry-meta">by Cynthia Gomez</span>
				</div>
			</div>
		</section>-->
		
		<!-- Widget Tags-->
		<!--section class="widget widget-tags">
			<h3 class="widget-title">Popular Tags</h3><a class="tag" href="#">#design</a><a class="tag" href="#">#fashion</a><a class="tag" href="#">#travelling</a><span class="tag active">#active tag</span><a class="tag" href="#">#shopping</a>
		</section>-->
		
	<!-- Promo Banner #1-->
	<section class="promo-box" style="background-image: url(assets/img/banners/01.jpg);">
		<!-- Choose between .overlay-dark (#000) or .overlay-light (#fff) with default opacity of 50%. You can overrride default color and opacity values via 'style' attribute.-->
		<span class="overlay-dark" style="opacity: .35;"></span>
		<div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
			<h3 class="text-bold text-light text-shadow">Приєднуйся!<br>до команди</h3>
			<h4 class="text-light text-thin text-shadow">WIKI-Investigation</h4>
			<a class="btn btn-sm btn-primary" href="#" routerlink="/registration">Приєднатися</a>
		</div>
	</section>
	
	<br/>
	
	<!-- Promo Banner #1-->
	<section class="promo-box" style="background-image: url(assets/img/banners/02.jpg);">
		<!-- Choose between .overlay-dark (#000) or .overlay-light (#fff) with default opacity of 50%. You can overrride default color and opacity values via 'style' attribute.-->
		<span class="overlay-dark" style="opacity: .35;"></span>
		<div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
			<h3 class="text-bold text-light text-shadow">Отримай<br>грант</h3>
			<h4 class="text-light text-thin text-shadow">за рослідування</h4>
			<a class="btn btn-sm btn-primary" href="#">Почати</a>
		</div>
	</section>
		
</aside>