<div class="container padding-bottom-3x padding-top-3x mb-1">
    <div class="row">
    
        <!-- Blog Posts-->
        <div class="col-xl-9 col-lg-8 order-lg-2">
                
            <article class="row" *ngFor="let article of articles">   
                <div class="col-md-3 order-md-2">
                  <ul class="post-meta">
                    <li><i class="icon-clock"></i><a href="#">&nbsp;{{ article.last_update }}</a></li>
                    <li><i class="icon-head"></i>&nbsp;{{ article.author }}</li>
                    <li><i class="icon-tag"></i>
                        <a href="#" *ngFor="let tag of article.tags">&nbsp;{{ tag }}</a>
                    </li>
                    <li><i class="icon-speech-bubble"></i><a href="#">&nbsp;0 Comments</a></li>
                  </ul>
                </div>
                <div class="col-md-9 order-md-1 blog-post">
                <h3 class="post-title">
                    <a routerLink="{{ article.permlink }}">{{ article.title }}</a>
                </h3>
                    <a class="post-thumb" routerLink="{{ article.permlink }}">
                        <img [src]="article.image" alt="{{ article.title }}">
                    </a>  
                    <p>{{ article.body }}&nbsp;<a routerLink="{{ article.permlink }}" class='text-medium'>Read More</a>
                    </p>
                </div>
            </article>
            
            <!-- Pagination-->
            <nav class="pagination">
                <div class="column">
                    <ul class="pages">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li>...</li>
                        <li><a href="#">12</a></li>
                    </ul>
                </div>
                <div class="column text-right hidden-xs-down">
                    <a class="btn btn-outline-secondary btn-sm" href="#">Next&nbsp;<i class="icon-arrow-right"></i></a>
                </div>
            </nav>
        </div>
        
        <!-- Sidebar-->
        <div class="col-xl-3 col-lg-4 order-lg-1">
            <app-sidebar></app-sidebar>
        </div>
    
    </div>
</div>