<div class="kotha-default-content">
	<div class="container">
		<div class="row">
		
			<div class="col-sm-4">
				<app-block-sidebar></app-block-sidebar>
			</div>
		
			<div class="col-sm-8">
				<article class="single-blog">
					<div class="post-thumb">
						<a href=""><img src="assets/images/post-thumb-1.jpg" alt=""></a>
					</div>
					<div class="post-content">
						<div class="entry-header text-center text-uppercase">
							<a href="" class="post-cat">Travel</a>
							<h2><a href="single-page.html">Adventure to travel lonely</a></h2>
						</div>
						<div class="entry-content">
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
								invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
								accusam
								et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
								Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
								diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
								voluptua...</p>
						</div>
						<div class="continue-reading text-center text-uppercase">
							<a routerLink="long-grid/1">Continue Reading</a>
						</div>
						<div class="post-meta">
							<ul class="pull-left list-inline author-meta">
								<li class="author list-inline-item">By <a href="#">Jennifer </a></li>
								<li class="date list-inline-item">&nbsp;On October 13, 2017</li>
							</ul>
							<ul class="pull-right list-inline social-share">
								<li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-pinterest"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="single-blog">
					<div class="post-thumb">
						<a href=""><img src="assets/images/post-thumb-2.jpg" alt=""></a>
					</div>
					<div class="post-content">
						<div class="entry-header text-center text-uppercase">
							<a href="" class="post-cat">Travel</a>
							<h2><a href="single-page.html">Playing with kite at beach</a></h2>
						</div>
						<div class="entry-content">
							<p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, Lorem
								ipsum dolor sit
								amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
								dolore magna
								aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
								rebum. Stet clita
								kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. sed diam
								voluptua Lorem ipsum
								dolor sit amet, consetetur sadipscing elitr...</p>
						</div>
						<div class="continue-reading text-center text-uppercase">
							<a routerLink="long-grid/2">Continue Reading</a>
						</div>
						<div class="post-meta">
							<ul class="pull-left list-inline author-meta">
								<li class="author list-inline-item">By <a href="#">Jennifer </a></li>
								<li class="date list-inline-item">&nbsp;On September 12, 2017</li>
							</ul>
							<ul class="pull-right list-inline social-share">
								<li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-pinterest"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="single-blog">
					<div class="post-thumb">
						<a href="single-page.html"><img src="assets/images/post-thumb-3.jpg" alt=""></a>
					</div>
					<div class="post-content">
						<div class="entry-header text-center text-uppercase">
							<a href="" class="post-cat">Travel</a>
							<h2><a href="single-page.html">At vero eos etaccusam
								et justo duo </a></h2>
						</div>
						<div class="entry-content">
							<p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Sed
								diam nonumy eirmod
								tempor invidunt ut labore et dolore magna aliquyam erat, Lorem ipsum dolor sit amet,
								consetetur
								sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
								aliquyam erat, sed
								diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. sed diam
								voluptua Lorem ipsum
								dolor sit sadipscing elitr amet, consetetur ...</p>
						</div>
						<div class="continue-reading text-center text-uppercase">
							<a routerLink="long-grid/3">Continue Reading</a>
						</div>
						<div class="post-meta">
							<ul class="pull-left list-inline author-meta">
								<li class="author">By <a href="#">Jennifer </a></li>
								<li class="date"> On December 29, 2017</li>
							</ul>
							<ul class="pull-right list-inline social-share">
								<li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item">><a href=""><i class="fa fa-pinterest"></i></a></li>
								<li class="list-inline-item">><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li class="list-inline-item">><a href=""><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="single-blog">
					<div class="post-thumb">
						<a href="single-page.html"><img src="assets/images/post-thumb-4.jpg" alt=""></a>
					</div>
					<div class="post-content">
						<div class="entry-header text-center text-uppercase">
							<a href="" class="post-cat">Travel</a>
							<h2><a href="single-page.html">An imaginary for travelers</a></h2>
						</div>
						<div class="entry-content">
							<p>Magna aliquyam erat, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
								dolor sit amet.
								Sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet,
								consetetur
								sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
								aliquyam erat, sed
								diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. sed diam
								voluptua Lorem ipsum
								dolor sit sadipscing elitr amet, consetetur ...</p>
						</div>
						<div class="continue-reading text-center text-uppercase">
							<a routerLink="long-grid/4">Continue Reading</a>
						</div>
						<div class="post-meta">
							<ul class="pull-left list-inline author-meta">
								<li class="author list-inline-item">By <a href="#">Jennifer </a></li>
								<li class="date list-inline-item">&nbsp;On June 24, 2017</li>
							</ul>
							<ul class="pull-right list-inline social-share">
								<li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-pinterest"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="single-blog">
					<div class="post-thumb">
						<div id="blog-gallery-slider" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item">
									<img src="assets/images/post-thumb-8.jpg" alt="">
								</div>
								<div class="item">
									<img src="assets/images/post-thumb-9.jpg" alt="">
								</div>
								<div class="item active">
									<img src="assets/images/post-thumb-7.jpg" alt="">
								</div>
							</div>
							<!-- Controls -->
							<a class="left carousel-control" href="#blog-gallery-slider" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							</a>
							<a class="right carousel-control" href="#blog-gallery-slider" data-slide="next">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
					<div class="post-content">
						<div class="entry-header text-center text-uppercase">
							<a href="" class="post-cat">Slider</a>
							<h2><a href="single-page.html">Awesome slider post</a></h2>
						</div>
						<div class="entry-content">
							<p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Sed
								diam nonumy eirmod
								tempor invidunt ut labore et dolore magna aliquyam erat, Lorem ipsum dolor sit amet,
								consetetur
								sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
								aliquyam erat, sed
								diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. sed diam
								voluptua Lorem ipsum
								dolor sit sadipscing elitr amet, consetetur ...</p>
						</div>
						<div class="continue-reading text-center text-uppercase">
							<a routerLink="long-grid/5">Continue Reading</a>
						</div>
						<div class="post-meta">
							<ul class="pull-left list-inline author-meta">
								<li class="author list-inline-item">By <a href="#">Jennifer </a></li>
								<li class="date list-inline-item">&nbsp;On March 17, 2017</li>
							</ul>
							<ul class="pull-right list-inline social-share">
								<li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-pinterest"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</article>
				<div class="post-pagination  clearfix">
					<ul class="pagination text-left">
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

<!--<div class="insta-feed text-center">
	<h2 class="text-uppercase">Follow@ <a href="">Instagram</a></h2>
	<div id="footer-instagram" class="footer-insta">
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-1.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li class="list-inline-item"><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li class="list-inline-item"><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-2.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li class="list-inline-item"><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li class="list-inline-item"><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>

		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-3.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li class="list-inline-item"><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li class="list-inline-item"><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>

		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-4.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li class="list-inline-item"><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li class="list-inline-item"><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-5.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li class="list-inline-item"><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li class="list-inline-item"><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-6.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li class="list-inline-item"><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li class="list-inline-item"><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-7.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li class="list-inline-item"><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li class="list-inline-item"><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-8.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li class="list-inline-item"><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li class="list-inline-item"><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
	</div>
</div>-->
