<div class="container padding-bottom-3x padding-top-3x mb-1">
    <div class="row justify-content-center">
        <div class="col-xl-4 col-md-6 col-sm-12">
        
            <form class="login-box" method="post">
               
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-6 col-sm-6">
                        <a class="btn btn-sm btn-block google-btn" (click)="signInWithGoogle()">
                            <i class="socicon-googleplus"></i>&nbsp;Google+ login
                        </a>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-6">
                        <a class="btn btn-sm btn-block facebook-btn" (click)="signInWithFB()">
                            <i class="socicon-facebook"></i>&nbsp;Facebook login
                        </a>
                    </div>
                </div>
                
                <div class="text-center text-sm-center">
                    <h4 class="margin-bottom-1x">Or using form below</h4>
                </div>
                
                <div class="form-group input-group">
                    <input class="form-control" type="email" placeholder="Email" name="email" [(ngModel)]="user.email" required>
                    <span class="input-group-addon"><i class="icon-mail"></i></span>
                </div>
                <div class="form-group input-group">
                    <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required>
                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                </div>
                <div class="d-flex flex-wrap justify-content-between padding-bottom-1x">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="remember_me" checked>
                        <label class="custom-control-label" for="remember_me">Remember me</label>
                    </div><a class="navi-link" routerLink="/recovery">Forgot password?</a>
                </div>
                <div class="text-center text-sm-center padding-bottom-2x">
                    <button 
                    class="btn btn-primary margin-bottom-none" 
                    type="submit" 
                    (click)="signIn(user)"
                    [disabled]="!user.email || !user.password"
                    >Login</button>
                </div>
                <div class="text-center text-sm-center">
                    <a class="navi-link" routerLink="/registration">Немає аккаунту? Реєстрація</a>
                </div>
            </form>
            
        </div>
    </div>
</div>
