<div class="container padding-bottom-3x padding-top-3x mb-2">
    <div class="row">
 
        <!-- Results-->
        <div class="col-xl-9 col-lg-8 order-lg-2">
            <h6 class="text-muted text-normal text-uppercase">FAQ</h6>
            <hr class="margin-bottom-1x">
            
            <div class="accordion" id="accordion1" role="tablist">
              <div class="card">
                <div class="card-header" role="tab">
                  <h6><a href="#collapseOne" data-toggle="collapse" class="" aria-expanded="true">Що таке онлайн-платформа WikiInvestigation?</a></h6>
                </div>
                <div class="collapse show" id="collapseOne" data-parent="#accordion1" role="tabpanel" style="">
                  <div class="card-body">
                    Незалежна платформа громадських розслідувань корупційних схем. WikiInvestigation реалізується Фондом Інновацій та Розвитку (англ. Innovation and Development Foundation). Проект фінансується Європейським Союзом. 
 Це – унікальне місце для комплексних розслідувань, що базується на швидкому зворотному зв’язку і рівності всіх користувачів. 
Платформа дасть доступ до цифрових даних, створених численними користувачами. Механізм її функціонування нагадує Вікіпедію, бо дозволяє створювати розслідування, завантажувати дані, а інші користувачі можуть доповнювати їх. 
Це означає пряме залучення суспільства до антикорупційних справ, де кожна дія та внесок мають велике значення. 
                  
                  </div>
                </div>
              </div>
            </div>
            
            <div class="accordion" id="accordion1" role="tablist">
              <div class="card">
                <div class="card-header" role="tab">
                  <h6><a href="#collapseOne" data-toggle="collapse" class="" aria-expanded="true">Чим WikiInvestigation різниться від інших антикорупційних проектів?</a></h6>
                </div>
                <div class="collapse show" id="collapseOne" data-parent="#accordion1" role="tabpanel" style="">
                  <div class="card-body">
                    Ми об’єднуємо громадськість, щоб виявляти й ефективно розслідувати корупційні схеми. Стати Wiki-детективом може кожен, незалежно від місця проживання, кваліфікації й обізнаності в правовому секторі.  
                  
                  </div>
                </div>
              </div>
            </div>
            
            <div class="accordion" id="accordion1" role="tablist">
              <div class="card">
                <div class="card-header" role="tab">
                  <h6><a href="#collapseOne" data-toggle="collapse" class="" aria-expanded="true">В яких містах реалізується проект?</a></h6>
                </div>
                <div class="collapse show" id="collapseOne" data-parent="#accordion1" role="tabpanel" style="">
                  <div class="card-body">
                    Нині проект зосереджений в Києві і п’яти пілотних містах: Харків, Одеса, Дніпро, Чернівці та Житомир. Запуск децентралізованої платформи дозволить WikiInvestigation стати всеукраїнською мережею.  
                  
                  </div>
                </div>
              </div>
            </div>
            
            <div class="accordion" id="accordion1" role="tablist">
              <div class="card">
                <div class="card-header" role="tab">
                  <h6><a href="#collapseOne" data-toggle="collapse" class="" aria-expanded="true">Що таке Wiki-розслідування?</a></h6>
                </div>
                <div class="collapse show" id="collapseOne" data-parent="#accordion1" role="tabpanel" style="">
                  <div class="card-body">
                    Нова модель громадського антикорупційного розслідування, котра поєднує кращі практики журналістських та громадських розслідувань із можливостями сучасних інтернет-орієнтованих інформаційних технологій та колективного розуму. 
                  
                  </div>
                </div>
              </div>
            </div>
            
            <div class="accordion" id="accordion1" role="tablist">
              <div class="card">
                <div class="card-header" role="tab">
                  <h6><a href="#collapseOne" data-toggle="collapse" class="" aria-expanded="true">Хто такий громадський детектив?</a></h6>
                </div>
                <div class="collapse show" id="collapseOne" data-parent="#accordion1" role="tabpanel" style="">
                  <div class="card-body">
                    Громадський детектив - особа, яка проводить Wiki-розслідування, доводить корупційний злочин та публікує своє розслідування на платформі.
                  
                  </div>
                </div>
              </div>
            </div>
            
            <div class="accordion" id="accordion1" role="tablist">
              <div class="card">
                <div class="card-header" role="tab">
                  <h6><a href="#collapseOne" data-toggle="collapse" class="" aria-expanded="true">Як стати користувачем платформи?</a></h6>
                </div>
                <div class="collapse show" id="collapseOne" data-parent="#accordion1" role="tabpanel" style="">
                  <div class="card-body">
                    Потрібно пройти авторизацію в зручний для вас спосіб: реєстрація на платформі або через обліковий запис Google чи Facebook. 
                  
                  </div>
                </div>
              </div>
            </div>
            
            <div class="accordion" id="accordion1" role="tablist">
              <div class="card">
                <div class="card-header" role="tab">
                  <h6><a href="#collapseOne" data-toggle="collapse" class="" aria-expanded="true">Яку активність я можу здійснювати на платформі?</a></h6>
                </div>
                <div class="collapse show" id="collapseOne" data-parent="#accordion1" role="tabpanel" style="">
                  <div class="card-body">
                    Ви можете обмінюватися інформацією з користувачами, публікувати завершені розслідування, а також реагувати на публікації користувачів. Публікації на платформі не підлягають видаленню.
                  </div>
                </div>
              </div>
            </div>
            
            <div class="accordion" id="accordion1" role="tablist">
              <div class="card">
                <div class="card-header" role="tab">
                  <h6><a href="#collapseOne" data-toggle="collapse" class="" aria-expanded="true">Як почати розслідування? </a></h6>
                </div>
                <div class="collapse show" id="collapseOne" data-parent="#accordion1" role="tabpanel" style="">
                  <div class="card-body">
                    Ми зібрали детальні юридичні вказівки, контакти експертів і координаторів проекту, котрі допоможуть шукати необхідну інформацію і вести розслідування. 
Ви можете анонсувати розслідування на платформі й застосовувати метод краудсорсингу або вести розслідування офлайн і опублікувати результати, заповнивши форму. 

                  </div>
                </div>
              </div>
            </div>
            
        </div>

        <!-- Sidebar-->
        <div class="col-xl-3 col-lg-4 order-lg-1">
            <app-sidebar></app-sidebar>
        </div>
        
    </div>
</div>
